.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.cargo/
.config/
.cpanm/
.gitconfig
.gitignore
.local.env
.local/
.npm/
.perl-cpm/
.profile
.rustup/
.ssh/
.viminfo
.vscode-server/
.wget-hsts
.x
go/
local/
webapp/img/
webapp/node/
webapp/pdns/
webapp/perl/
webapp/php/
webapp/python/
webapp/ruby/
webapp/rust/
